<a href="https://colab.research.google.com/github/ik339/NTU-python/blob/main/NTU_Python_Online_Course_own_code_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Day 1 30/08/22
Page 47 challenge practice

In [1]:
 food1 = input(" fav food 1 ")
 food2 = input(" fav food 2 ")
 print(str(food1+food2))

 fav food 1 mango
 fav food 2 berry
mangoberry

In [4]:
a = int(input("bill amount ")) 
print("15% tip is", (15/100)*a)
print("20% tip is", (20/100)*a )

bill amount 307
15% tip is 46.05
20% tip is 61.400000000000006

In [1]:
a = int(input("Car Base Price "))
b=(1/100)*a
c=(1/100)*a
d=15
e=20

print("Tax charge", (3/100)*a)
print("License charge", (5/100)*a)
print("Dealer prep charge", 15)
print("Destination charge", 20)

Totalprice = str(a+b+c+d+e)
print(Totalprice)

Car Base Price 345467788
Tax charge 10364033.639999999
License charge 17273389.400000002
Dealer prep charge 15
Destination charge 20
352377178.76

# Day 2 31/08/22

In [13]:
#convert metres to feet program
h = float(input("Your height in metres:"))
ft = h*3.28
print("Your height in feet is" , ft)
if (ft>5.8):
  print("You are tall");
elif(ft<4.8):
  print("You are short");
else:
  print("You are average")

Your height in metres:1.65
Your height in feet is 5.411999999999999
You are average

In [ ]:
#program

#Day 3 01/09/22